body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}
.navbar-brand img{
    width: 150px;
    margin-left: 30px;
}

.hero-all{
    background-color: #E7FAFE;
    height:50%;
    border-radius: 2%;
}

.hot-recpice-btn{
    padding:7px 20px 7px 20px;
    border: none;
    border-radius: 100px;
    background-color: white;

}
.text-part{
   text-align: left;
   margin-top: 4em;   
   transition: 0.8s ease-in-out;
}
.text-part h1{
    margin-top: 1em;
    font-family: protest;
}
.hero-btn{
    margin-top: 2em;
    display: flex;
    
}
.hero-btn-1{
    padding:7px 20px 7px 20px;
    border: none;
    border-radius: 100px;
    background-color: white;
}
.hero-btn-2{
    margin-left: 1em;
    padding:7px 20px 7px 20px;
    border: none;
    border-radius: 100px;
    background-color: white;
}
.hero-photo{
    height: 60%;
}
.hero-photo img{
    width: 100%;
    height: 60%;
    margin-left: 12px;
    
}

/* catagory section */
.catagory-text h1{
    font-family: protest;
}
.cat-btn{
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    background-color:#E7FAFE ;
    transition: 0.7s ease-in-out;
    border: none;
}
.cat-btn:hover{
    background-color: rgb(163, 25, 101);
    color: white;
}
.view-cat-btn{
    
    display: flex;
    justify-content: end;
}
.card{
    width: 170px;
    height:180px ;
    padding: 10px;
    border: none;
    margin-top: 20px;
}
.card img{
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}
.brek-card{
    background-color: bisque;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
.brek-card:hover{
    transform: scale(1.1);
}
.veg-card{
   background-color: rgb(163, 197, 226);
   transition: 0.8s ease-in-out;
   cursor: pointer;
}
.veg-card:hover{
    transform: scale(1.1);
}
.meat-card{
    background-color: rgb(79, 179, 112);
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
.meat-card:hover{
    transform: scale(1.1);
}
.desrt-card{
    background-color: rgb(224, 224, 171);
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
.desrt-card:hover{
    transform: scale(1.1);
}
.lunch-card{
    background-color: rgb(224, 191, 84);
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
.lunch-card:hover{
    transform: scale(1.1);
}
.choc-card{
    background-color: rgb(248, 18, 87);
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
.choc-card:hover{
    transform: scale(1.1);
}
@media(max-width:500px){
    .view-cat-btn{
        display: block;
        margin-top: 30px;
    }
}

.res-text h1{
    font-family: protest;
}
.receipe{
    margin-top: 50px;
}
.res-cards{
    margin-top: 100px;
}
.res-card-1{
    height: fit-content;
}
.res-card-1 img{
   width: 100%;
   cursor: pointer;
   transition: 0.8s ease-in-out;
    
}
.res-card-1 img:hover{
    transform: scale(1.1);
     
 }
.min{
    margin-left:8px;
}
.snacks{
    margin-left:8px;
}
#res-card-back{
    background-image: url(../photos/res-card-6-back.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.inner-car-text p{
    font-size: 1.3rem;
    color: white;
    font-weight: bolder;
}

.chef{
    margin-top: 50px;
}
.chef-text{
    margin-top: 200px;
}
.chef-text h1{
    font-size: 2.5rem;
    font-family: protest;
}
.chef-text p{
    margin-top: 10px;
    font-size: 1.1rem;
}
.chef-btn{
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size:1.2rem;
    margin-top:20px;
    transition: 0.8s ease-in-out;
}
.chef-btn:hover{
    background-color: rgb(158, 17, 104);
    color: white;
}
.chef-img{
 width: 100%;
}

.social-post{
    margin-top: 150px;
}
.social-text{
    margin-top: 30px;
}
.social-text h1{
    font-family: protest;
}
.social-card img{
    width: 90%;
}
.Instra-btn{
    padding: 8px 20px 8px 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: 0.8s ease-in-out;
}
.Instra-btn:hover{
    background-color: rgb(158, 17, 104);
    color: white;
}
.social-card{
    margin-top: 20px;
}